<div ui-view></div>
<div class="mines">
<div ng-hide="change">
	<div id="miner_top">
		<a href="javascript:void(0)"></a>
		<img src="http://m.chuchujie.com/img/test/user/icon_bg.png"/>
	</div>
	<div id="miner_middle">
		<ul>
			<li><input type="text" name="" id="userName" placeholder="手机号" ng-model="myInput1" /></li>
			<li><input type="text" name="" id="passWord" placeholder="密码" ng-model="myInput2"/></li>
		</ul>
		<p >忘记密码?</p>
	</div>
	<div id="miner_bottom">
		<p><a href="javascript:void(0)" ng-click="myBtn()">登录</a></p>
		<p><a href="" ng-click="newAccount()">创建新账号</a></p>
	</div>
</div>
<div ng-show="changer">
	<h3>注册 楚楚街 账号</h3>
	<div id="mine_top">
		<ul>
			<li><input type="text" name="" id="telNum" placeholder="手机号" /></li>
			<li>
				<input type="text" name="" id="picNum" placeholder="图形验证码" />
				<p><img src="http://api-passport.chuchujie.com/api/verify/imageverify/seriesnumber/8fQ687" alt="" /></p>
			</li>
			<li>
				<input type="text" name="" id="inforNum" placeholder="短信验证码" />
				<p><a href="">发送验证码</a></p>
			</li>
		</ul>
	</div>
	<div id="mine_bottom">
		<p><a href="" ng-click="newAccount()">确定</a></p>
		<p><span>*注册则代表同意</span><a href="">《楚楚街网络服务使用协议》</a></p>
	</div>
</div>
</div>






































































































