#miner_top{width: 100%;height: 1.56rem;position: relative;margin-bottom: 0.4rem;}
#miner_top img{width: 100%;}
#miner_top a{width: 0.6rem;height: 0.6rem;background: url(http://m.chuchujie.com/img/test/logo.png) no-repeat;background-size: 100% 100%;display: block;position: absolute;left: 50%;bottom: -0.15rem;margin-left: -0.3rem;}
#miner_middle{width: 100%;overflow: hidden;}
#miner_middle ul{margin: 0 10%;width: 80%;}
#miner_middle ul li{width: 100%;margin-top: 0.2rem;border-bottom: 0.01rem solid #aaa;font-size: 0.3rem;}
#miner_middle ul li input{width: 100%;border: 0;height: 0.3rem;}
#miner_middle p{font-size: 0.12rem;float: right;margin-right: 10%;margin-top: 0.05rem;color: #aaa;}
#miner_bottom p a{font-size: 0.18rem;line-height: 0.44rem;height: 100%;display: block;}
#miner_bottom p:first-child a{color: #fff;}
#miner_bottom p{font-size: 0.44rem;text-align: center;margin: 0 10%;width: 80%;border-radius: 0.03rem;}
#miner_bottom p:first-child{background: #fe3355;margin-top: 0.4rem;}
#miner_bottom p:last-child{margin-top: 0.2rem;}
#miner_bottom{overflow: hidden;}
h3{font-size: 0.18rem;font-weight: 400;width: 100%;text-align: center;margin: 0.2rem 0 0.4rem;}
#mine_top{width: 100%;}
#mine_top ul{margin: 0 10%;width: 80%;overflow: hidden;}
#mine_top ul li{font-size: 0.32rem;margin-top: 0.2rem;border-bottom: solid 0.01rem #aaa;overflow: hidden;}
#mine_top ul li input{border: 0;font-size: 0.14rem;margin-bottom: 0.06rem;float: left;}
#mine_top ul li:nth-of-type(2) img{height: 0.3rem;float: right;border: solid 0.01rem #333}
#mine_top ul li:nth-of-type(3) p{font-size: 0.21rem;float: right;background: #fe3355;border-radius: 0.03rem;padding: 0 0.05rem;}
#mine_top ul li:nth-of-type(3) p a{font-size: 0.13rem;color: #fff;line-height: 0.3rem;}
#mine_bottom p:first-child{font-size: 0.44rem;text-align: center;margin: 0 10%;width: 80%;border-radius: 0.03rem;background: #fe3355;margin-top: 0.4rem;}
#mine_bottom p:first-child a{color: #fff;font-size: 0.18rem;line-height: 0.44rem;height: 100%;display: block;}
#mine_bottom p:last-child{font-size: 0.2rem;text-align: center;margin: 0 10%;width: 80%;overflow: hidden;}
#mine_bottom p:last-child a{font-size: 0.13rem;color: #fe3355;margin-top: 0.1rem;}
#mine_bottom p:last-child span{font-size: 0.13rem;margin-top: 0.1rem;}
input{outline: none;}
/*.mines{position: absolute;z-index: 100;}*/















































































