<div class="pay_page">
	<div class="pay_contain">
		<div class="addres">
			<div class="dizhi clearfix">
				<h1>添加新地址</h1>
			</div>
			<div class="add_addres clearfix">
				请准确填写您的地址
				<img src="component/pay/imgs/rtjt_new.png"/>
			</div>
		</div>
		<div class="pay_chose">
			<h2>支付方式</h2>
			<ul>
				<li class="wechat">
					<i class="pay_icon"></i>
					<img src="component/pay/imgs/weixin.png"/>
					<em>微信支付</em>
				</li>
				<li class="alipay">
					<i class="pay_icon"></i>
					<img src="component/pay/imgs/zfb.png"/>
					<em>支付宝支付</em>
				</li>
				<li class="unionpay">
					<i class="pay_icon"></i>
					<img src="component/pay/imgs/unionpay.png"/>
					<em>银联支付</em>
				</li>
			</ul>
		</div>		
		<div class="shop_info">
			<ul class="pay_shop">
				<li>
					<a href="javascript:void(0)" class="pay_shop_info">
						<img src="component/pay/imgs/580dd37211392.jpg"/>
						<p class="pay_shop_price">
							<span class="p">￥<em>8.8</em></span>
							<span class="p_count">x<em>6</em>件</span>
						</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>