<div class="collectioner">
	<div id="collection_head">
		<img src="https://m.chuchujie.com/img/test/user/user_bg.jpg"/>
		<a href="javascript:void(0);"><img src(unknown)/></a>
		<p>185HASOPU8517</p>
		<a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_msg.png" alt="" /></a>
	</div>
	<div id="collection_nav1">
		<ul>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_car.png" alt="" /><p>购物车</p></a></li>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_collect.png" alt="" /><p>我的收藏</p></a></li>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_yhq.png" alt="" /><p>红包/优惠券</p></a></li>
		</ul>
	</div>
	<div id="collection_nav2">
		<p><a href="javascript:void(0);">全部订单</a></p>
		<ul>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_order_dfk.png" alt="" /><p>待付款</p></a></li>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_order_dfh.png" alt="" /><p>待发货</p></a></li>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_order_dsh.png" alt="" /><p>待收货</p></a></li>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_order_dpj.png" alt="" /><p>待评价</p></a></li>
			<li><a href="javascript:void(0);"><img src="https://m.chuchujie.com/img/test/user/icon_order_thh.png" alt="" /><p>退换货</p></a></li>
		</ul>
	</div>
	<div id="collection_bottom">
		<ul>
			<li><a href="javascript:void(0);">我的积分</a></li>
			<li><a href="javascript:void(0);">帮助与反馈</a></li>
			<li><a href="javascript:void(0);">下载楚楚街app立即领12元</a></li>
		</ul>
	</div>
</div>

















































































