
<div id="home_top">
    <div class="home_head">
        <a href="javascript:void(0)" class="home_head_city">北京</a>
        <div class="home_head_search">
            <div class="home_head_input">
                <a href="javascript:void(0)">
                    <!--<img src="component/home/imgs/login_n_ico05_0e143fe9.png" alt="">-->
                </a>
                <input type="text"placeholder="佳沛阳光金果">
            </div>

        </div>
        <div class="home_head_login">
            <a href="javascript:void(0)">登录</a>
        </div>
    </div>
    <div class="home_top_menu">
        <div style="position: relative">
            <dl style="width: 7rem">
                <dt>
                    <a href="javascript:void(0)">
                        <img src="component/home/imgs/717.png" alt="">
                    </a>
                </dt>
                <dd>
                    <a href=""><span class="active_span">水果</span></a>
                    <a href=""><span>肉禽</span></a>
                    <a href=""><span>水产</span></a>
                    <a href=""><span>蔬菜</span></a>
                    <a href=""><span>熟食</span></a>
                    <a href=""><span>粮油</span></a>
                    <a href=""><span>乳品</span></a>
                    <a href=""><span>畅饮</span></a>
                    <a href=""><span>零食</span></a>
                    <a href=""><span>厨具</span></a>
                </dd>
            </dl>
        </div>
    </div>
</div>